* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
    color: rgb(245, 245, 245);
}

.main {
    min-height: 100vh;
    background: linear-gradient(to right top, rgba(13, 30, 75, 1) 0%, rgba(31, 149, 181, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-box {
    border-radius: 0.5rem;
    padding: 1rem 1.4rem;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0);
    color: #252525;
    font-size: 1.5rem;
    outline: none;
    width: 40rem;
    &:focus {
        border: 0;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(255, 255, 255, 0);
    }
    &__container {
        position: relative;
        width: 40rem;
    }
    &__suggestions {
        width: 40rem;
        max-height: 18rem;
        font-size: 1.3rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        background: rgb(255, 255, 255);
        list-style: none;
        color: #252525;
        overflow: auto;
        li {
            cursor: pointer;
            padding: 0.7rem 1.4rem;
            border-bottom: 1px solid rgba(37, 37, 37, 0.3);
            &.no-results {
                cursor: default;
                &:hover {
                    background: rgb(255, 255, 255);
                }
            }
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background: rgb(230, 230, 230);
            }
        }
    }
}

.top {
    width: 40rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__timezone {
        font-size: 2rem;
    }
    &__time {
        font-size: 2.5rem;
        margin-left: 2rem;
    }
}

.date {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.bottom {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__icon-desc {
        text-align: center;
        &__icon {
            margin-bottom: 1rem;
        }
        &__description {
            font-size: 1.5rem;
        }
    }
    &__degrees {
        display: flex;
        align-items: center;
        justify-content: center;
        &__value {
            font-size: 3rem;
        }
        &__unit {
            font-size: 2rem;
            margin-left: 0.5rem;
        }
    }
}

// Responsive

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .main {
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }

    .search-box {
        width: 100%;
        &__container {
            width: 100%;
        }
        &__suggestions {
            width: 100%;
        }
    }

    .top {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 1rem;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        &__timezone {
            margin-bottom: 2rem;
        }
        &__time {
            margin: 0 auto;
            font-size: 2rem;
        }
    }

    .date {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .bottom {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        &__icon-desc__icon {
            width: 6rem;
            margin-bottom: 0.5rem;
        }
        &__icon-desc {
            &__description {
                margin-bottom: 1rem;
            }
        }
    }
}
